img{
    width: 100%;
}

body{
    background-image: url(img/rickandmortypb.png);
    background-color: #1e2b1f;
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    margin: 40px;
}

button{
    text-align: center;
    border-radius: 10px;
    background-color: #0CF25D;
    border: 2px solid #02735E;
    padding: 2px 20px;
    color: #025951;
    width: 120px;
    height: 35px;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: center;
}

#logo2{
    max-width: 400px;
}

.container{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.item{    
    justify-content: space-around;
}

footer{
    color: #0CF25D;
    margin: 0px;    
    }

.rodape{
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    margin-left: 30%;
}

p{
    max-width: 800px;
    font-size: 20px;
    line-height: 30px;
    color: floralwhite;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

h1{
    margin: 0px;
    color: #B2DF28;
}