body{
    background: #252525;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: center;
}

header img{
    max-width: 400px;
    margin: 10px;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    list-style: none;
}
.menu a{
    text-decoration: none;
    padding: 0px 75px;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu a:hover{
    border: solid;
    background-color: rgba(255, 255, 255, 0.871);
    border-radius: 10px;
    color:#025951;
}

.botaoFiltros{
    height: 28px;
    width: 160px;
    margin: 2px 3px;
    border-radius: 10px;
    outline: 0;
    border: none;
}

.pesquisa h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#divBusca input{
    height: 30px;
    min-width: 350px;
    border-radius: 15px;
    outline: 0;
    border: solid #4DDE24;
    font-style: italic;
}

.filtro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.conjuntoPesquisaEFiltro{
    width: 90%;
    margin: 0 auto;
    background-color: #00B5CC;
    border-radius: 10px;
    border: solid 1px #B2DF28;
}

.container{
    display: flex;
    justify-content: space-around;
    border-width: 2px;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    font-family: system-ui;

}
.container div{
    background-color: white;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    flex-grow: 3;
}
.container img{
    max-width: 150px;
}

.container .listaDados{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.listaDados li{
    list-style: none;
    height: 20px;
    display: flex;
    justify-content: center;
}

.linhaEscura{
    border: solid white 1px;
    width: 100%;
    background-color: white;
    margin: 1.5px 0px 0px 0px;

}

.linhaClara{
    border: solid #D9D9D9 1px;
    width: 100%;
    background-color: #D9D9D9;
}

#frase{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-left: 400px;
}